main {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
main > h1 {
    color: darkorange;
    text-transform: uppercase;
    font-size: 1.5rem;
}

main img {
    max-width:100%;
    height: auto;
}