main {
    margin-inline: auto;
    letter-spacing: 1.5px;
    width:100%;
}

main h1 {
    color: darkorange;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

main h2 {
    color:darkorange;
    margin-bottom:5px;
    font-size:1.3rem;
}

main p {
    margin-inline: auto;
    line-height: 1.5;
    max-width: 70ch;
}

main article {
    margin:40px 0;
    width: fit-content;
    margin-inline: auto;
}